[2017-04-13 09:46] star-buck opened #1 "disable loading ring-client automatically upon startup/login to Plasma"

[2017-04-13 10:06] star-buck opened #2 "start-window pops up behind main window: the main window should not popup at all when the startscreen is shown."
- the startscreen should always load first to show the welcome slide.
- even if an acfcount has already been added, the startscreen should appear first and prevent the main client window from popup
- when an account has been already added before, the screen simply shows the welcome slide and when pressing enter or clicking somehwere, only then the normal client is loaded and shown.

- later, when

[2017-04-13 18:30] Elv13 commented on #1
Hello,

This was already fixed at the time this was posted. The code was commented until yesterday to allow easier testing. It was enabled yesterday in my last commit of the day. The wizard now show only once and will honor the "skip" button and never show up again (if the client is otherwise killed, it will show again). Ring-KDE can be used without Ring accounts.

As of yesterday, the main window

[2017-04-13 19:02] Elv13 commented on #2
I will do it if you wish so, however I am not sure if this is such a good idea until the Ring daemon gains support for local decryption. If I was a user, I would consider this popup to be rather annoying. Here's some counter arguments I would like you to consider before saying "please do it anyway":

 * Ring has no login. It uses key-pair authentication when calls are negotiated.
    * The propose

[2017-04-13 19:23] star-buck commented on #1
This was meant more the other way around:
Always load the welcome screen, but only load the client AFTER the welcome
screen has been closed again.

On Apr 13, 2017 8:30 PM, "Emmanuel Lepage Vallée" <notifications@github.com>
wrote:

[2017-04-13 19:28] star-buck commented on #2
Like gimp, krita, etc. Always show the welcome screen.
Then load either the client and once loaded close the welcome again
automatically if an account exists or go automatically to the options
screen without loading the client until the wizard is finished.

[2017-04-13 20:54] star-buck commented on #1
Tested the latest version:
This ticket is about not having the whole program auto-start when logging into KDE.
It should always started manually and not load the client right away after logged in, also not in the background or minimized in systray.
The ring daemon is another case, but the ring-client should only loaded on purpose, like an email client or pidgin or any other communication tool.

[2017-04-13 20:55] star-buck commented on #2
so the welcome screen does popup in front now and the ring-kde client only becomes visible when the startscreen is closed. this ticket is done then , as for the other question wether to always load the welcome screen ill open another ticket.

[2017-04-13 20:55] #2 closed, assigned to nobody

[2017-04-13 20:56] Elv13 commented on #1
It is implemented the other way. Ring clients start the daemon on purpose and close it when it quits. This is an upstream decision. This is similar to `kded5` or `kdeinit5`

[2017-04-13 20:58] star-buck opened #3 "show "welcome splash" for 3-4 seconds when loading the ring-kde client (then continue to show the client if an account exists or continue with the wizard page if no account exists yet)"
as an example, here is how skype on linux welcome screen always starts in the center, same size, even if you move it:
https://www.dropbox.com/s/gw7i9e1lsw4wnm1/skype-startscreen.mkv?dl=0

The splash screen could also displayed as the "About Ring-KDE".
So the splash doesnt carry any other method like login, it stays as is as a frontscreen to the login+accounts window when starting up.
Then when the

[2017-04-13 21:02] Elv13 commented on #1
Adding to the previous answer, this is necessary for features such as KNotification, the Plasmoid (currently disabled) and Kontact itegration to work. The same is true for the Gnome client. The client has an option to start daemonified in the systray, it isn't enabled by default.

[2017-04-13 21:04] star-buck commented on #1
okay, then lets not start the client plus daemon at all when logging into KDE.

Like viber or skype one has to manually start the client on the desktop for it to become active.

Also Kontact is disabled on all my machines and the Netrunner distro i ship by default, as its deprecated and doesnt work well anymore, so therefore, loets not rely on that and make ring-kde client independent.

I am not s

[2017-04-13 21:05] star-buck commented on #1
also i think people in opensoruce dont like bigger things like ring-kde clients started in the background, as they hated when the whole akonadi was started + mysql.

[2017-04-13 21:07] star-buck commented on #1
we can thinka bout it later and find a solution to turn things on smart again, but for now lets have it turned off default and only loaded when concisously started.

[2017-04-13 21:14] star-buck opened #4 "Settings: Add option "Account Wizard" which brings up the wizardscreen again from the ring-kde client"
this option could be added in the menu bar -> Settings -> another entry "Account Wizard" at the bottom of the dropdown menu options

[2017-04-13 21:15] Elv13 commented on #1
Correct. It is also disabled on my machine and Ring-KDE only enable it when it's installed and running. Ring-KDE has a lot of code to re-implement the necessary APIs to avoid the hard dependency on Akonadi. While some more advanced contact management features are disabled when Akonadi is unavailable, the most basic ones use it's own Collection system on top of the vCard and MIME IETF standards.

A

[2017-04-13 21:20] star-buck commented on #1
Sounds good!

[2017-04-14 20:57] Elv13 opened #5 "Code: Near term upstream changes to watch/implement (keep open)"
Just to keep track of some notes I made when chatting with upstream. This lists potential development required to keep track of new GNU Ring features.

This issue only lists the upstream changes, not the KDE or user experience related improvements.

### Contact request

Send and accept/refuse request from friends to be added to the friend list and have their certificate whitelisted.

#### Priority

[2017-04-14 21:33] Elv13 opened #6 "New video with toolbar"
Track the requirements and progress. This feature has lower priority than the wizard, but has nevertheless been started and progress between reviews of the wizard. I will now switch back to the wizard as there is some things to change. Here's the current status:

#### Basic features

- [X] Display some video frames in sequences
    - [X] Cache the previous frame in case some are missing (network c

[2017-04-18 06:27] Elv13 commented on #6
Hello,

I pushed the first version of the new video widget. It is an early preview and has the issues listed above.

@shadeslayer Please note Ring-KDE now depends on KF5::Declarative.
@star-buck I am not sure it's good enough for extensive testing yet, but it's working often enough. The best way to see what it looks like is the video preview in settings -> video. The call video itself is still aff

[2017-04-18 06:53] Elv13 commented on #4
![pick11](https://cloud.githubusercontent.com/assets/340384/25117922/0762aae8-23e2-11e7-977a-6b565f09f642.png)

Done

(as always for beta of any kde apps, `rm ~/.local/share/kxmlgui5/ring-kde/ring-kdeui.rc` may be necessary)

[2017-04-18 07:00] Elv13 commented on #1
Done

[2017-04-18 07:21] Elv13 commented on #3
Hello, just a little detail.

Please pick one of the possible solutions.

## Conceptual issues

There is 3 different concepts here.

#### Splash screen

A splash screen is a concept from the 80's to display a static pixmap (with or without a progressbar) while the application load. This is mostly out of style as applications now load fast enough. Only a few application still uses one.

 * Gimp (lo

[2017-04-18 07:38] star-buck commented on #3
Lets forget the local login for now, as it has many consequences to implement this simple splash screen PLUS the local login.
(like: the welcome splash screen should STILL be displayed then a few seconds before the account wizard opens up.
The splash screen could also displayed as the "About Ring-KDE".
So the splash doesnt carry any other method like login, it stays as is as a frontscreen to the l

[2017-04-18 07:40] Elv13 commented on #3
ok, I will take care of that tomorrow

[2017-04-20 07:28] Elv13 commented on #6
The base features are complete and seem mostly reliable on my side.

![pick11](https://cloud.githubusercontent.com/assets/340384/25218572/479a0bb8-2579-11e7-9cdf-0ccc998aca35.png)

[2017-04-20 08:21] Elv13 commented on #3
Here's a basic splash screen. I can add more details (copyright, authors, version, etc...). Of course the image should change eventually, but this is about the feature itself.

![pick11](https://cloud.githubusercontent.com/assets/340384/25220743/bbe63ae4-2580-11e7-96d4-ca86f9428f25.png)

[2017-04-21 01:09] Elv13 opened #7 "GUI: Welcome Splash + Wizard"
This issue tracks the feature and tests done in the last month

-  [X] Show a welcome splash and follow up Wizard page
   - [X] Always show the Welcome splash when client is started
   - [X] On first run / no account continue with the Wizard page
   - [X] Never show the wizard page if skip was pressed or an account has been found
- [X] Have an "import account" page
    - [X] Enter a PIN
    - [X]

[2017-04-21 14:56] star-buck commented on #3
The function is almost correct, but we simply should take the same welcome frontpage as startup screen that is already used when no account has been setup (the ones before the wizard page):
![screenshot_20170421_164906](https://cloud.githubusercontent.com/assets/840070/25283210/466dcd0c-26b3-11e7-969a-35da20a3c458.png)

So ring-kde always starts with this initial welcome screen and then either whe

[2017-04-21 15:02] star-buck commented on #4
Comes up nicely here.
To simplify and make consistent, in this case I would right away start with the Wizard page, and skip the welcome page layer, so this window comes up straight:
![screenshot_20170421_170035](https://cloud.githubusercontent.com/assets/840070/25283485/444bd07c-26b4-11e7-8f94-039add5733cb.png)

[2017-04-21 15:03] star-buck commented on #1
works and closed

[2017-04-21 15:09] star-buck commented on #6
this looks awesome, but for some reason, i am stuck when trying to register a global account. will open another ticket and continue comment here when able to get possible issue on my end solved.

[2017-04-21 15:10] star-buck opened #8 "global user registration fails + packaging discussion"
i always get this error (red error timeout) after a while when trying to register a new available global username:
![screenshot_20170421_165027](https://cloud.githubusercontent.com/assets/840070/25283805/502731ba-26b5-11e7-8906-513a9cca040f.png)

Now my network works fine, and i have added a local account already, so not sure why it fails to have a global account.

[2017-04-22 04:53] Elv13 commented on #8
(edit: are you sure the `ring-lrc` is the `work5` branch of my GitHub fork?)

I tried to reproduce a hundred time and it all worked. Before I create more VMs and start testing improbable causes, I would like you to attach (or email) me some debug logs. Anyway, if you are to report more issues, the logs are needed/helpful/save_time, so better start with this issue.

Whatever is different on your sy

[2017-04-23 08:51] star-buck commented on #8
Regarding registered/unregistered:
Is it still tested if a chosen username is already "in use", even if one doesnt want it to be (globally) registered?

[2017-04-23 08:59] Elv13 commented on #8
No. Unregistered (and registered) accounts have a profile where you can write pretty much anything you want, including a name that's already registered by somebody else. For example, there might be more than one Clemens in the world. A person name isn't unique and may infringe on a trademark or other people name. Unregistered accounts don't have exported named identifiers, they only have an phone

[2017-04-23 09:10] star-buck commented on #8
So the unregistered username IS local?

[2017-04-23 09:15] star-buck commented on #8
Imo thats an important information then, as it might be otherwise not clear
to a new user that local usernames cannot be found by their string by other
participants, or worse, if a globally registered username exists by another
participant, that one will be called instead.

So it differs to lets say a nonregistered IRC handle, which still acts as a
globally unique identifier, just not registered y

[2017-04-23 09:34] Elv13 commented on #8
Not really. To understand why, you first need to understand how Ring/Tox/Blink are different from a web service.

The key is the decentralized aspect. I will quote my blog post here:

[code]

**Both** unregistered and registered accounts **never leave the device(s)**. They are local files and are copied only when another device import another one (using a side channel, /offtopic). The trick to be

[2017-04-23 09:50] star-buck commented on #8
Well, I know how it works.

I never referred to *stored* local or global, only if *validity* is local
or global.

So it is true that a nonregistered username has no global validity, but a
registered username has (no need to do a blogpost about it, we should
concentrate to make this intuitive understandable for anyone using ring-kde
first time).
It would imo help to simply put a (*) behind the chec

[2017-04-24 13:32] shadeslayer commented on #8
Hi
Here's my log files :

dring logs
[code]
Unfortunately bustle is broken in Debian at the moment making capturing dbus logs a bit more difficult, I'll see what I can do

[2017-04-24 13:59] shadeslayer commented on #8
Here's the zipped bustle log
[ring-kde.bustle.zip](https://github.com/ring-project/ring/files/951957/ring-kde.bustle.zip)

[2017-04-24 14:32] shadeslayer commented on #8
FWIW we're using ring-lrc from the last ring bundle release 20170412.1.f0ec025 with the patches from the work5 branch on top.

[2017-04-25 07:02] Elv13 commented on #8
I did *a lot* of testing today and could not reproduce this issue.

Umm, according to the log, there was no attempt to create an account at all. Can you include the `ring-kde` log too?

Here's the `.deb` I used for this video:

https://www.youtube.com/watch?v=7dImzQYx4mY&feature=youtu.be

[foo.zip](https://github.com/ring-project/ring/files/954106/foo.zip) (there's a .deb inside, GitHub only accep

[2017-04-25 10:23] shadeslayer commented on #8
I used bustle from [here](https://www.freedesktop.org/software/bustle/0.5.4/bustle-0.5.4-x86_64.tar.bz2) to capture and display the logs.

[2017-04-25 10:26] shadeslayer commented on #8
ring-kde logs

[code]

[2017-04-25 10:28] shadeslayer commented on #8
As far as I can tell clicking the next button does logs more of this error

[code]

[2017-04-25 10:57] shadeslayer commented on #8
I triggered another build with the changes you mentioned, log [here](http://dci.pangea.pub/job/netrunner-backports_release_ds9-extras-packaging_ring-kde_bin_amd64/10/consoleFull). I don't see anything about ring-lrc being fetched from git BTW.

Is there a raw dbus call I can do to register a global username that I can try out? Or some sort of minimal test case I can run?

[2017-04-25 12:46] shadeslayer commented on #8
@Elv13 Does ring-lrc from your work5 branch not install any libs? [This](http://dci.pangea.pub/job/netrunner-backports_release_ds9-extras-packaging_ring-lrc_bin_amd64/2/console) log indicates that no libs were installed.

The log also indicates a issue with finding the ring-daemon I think

[code]

Maybe the find_library call for the ring binary should be changed to a call to find_program dring ?

[2017-04-25 13:42] Elv13 commented on #8
Hello,

@shadeslayer: this looks like a packaging problem to me. Can you try with the package I added above (really)? Note the the head the of the `work5` branch is currently 63bf0f8871f78661ddbcfce19fe9c7cb27f4c1a6. The issue here is that your system doesn't seem to have 750ef59d8d88653357863d822dc40060978792b4, which I added Friday (it wasn't required before that, so there is a clear mismatch).

[2017-04-25 13:52] shadeslayer commented on #8
@Elv13 This is what I see when installing ring-lrc in my packaging :

[code]
No sign of libringclient.so or libringclient.so.1.0.0

Here's the cmake command :

[code]

[2017-04-25 14:16] Elv13 commented on #8
And here's what it does on my systems and netrunner Docker

[code]
[code]

But really, this is beside the point. The way you seem to package it *wont work*. I know I repeat myself, but really, it should *not* be installed. The gnome client doesn't install it. The client should really use `libringclient.a`, not `libringclient.so`. This is the real problem here. It's why I added the last commit too.

[2017-04-25 14:27] shadeslayer commented on #8
Last I checked it did not install any .so's even without ENABLE_SHARED. So I think your quote fix actually fixed the .so install issue.

[2017-04-25 15:28] shadeslayer commented on #8
Hi
This seems to be fixed now.
Please make sure to purge old ring packages and then install ring-kde before testing:

[code]

[2017-04-25 15:47] Elv13 opened #9 "packaging: Migrating to static libraries"
As discussed in #8 and on IRC:

 * Upstream declined to freeze Ring-LRC API to allow them some development flexibility
 * Both Gnome and macOS client use static libraries
 * I wish the KDE client packages did the same and would rather not support shared libraries to issues like #8.
 * libringclient.so (or .a, or the include files) should not be installed, it *will* cause more issues as it is unsup

[2017-04-25 15:48] Elv13 commented on #8
Cool, thanks. I opened #9 to track the packaging changes to prevent such .so mismatch from happening again and document why the packages should not use the shared library.

[2017-04-27 09:19] Elv13 commented on #8
Hello, as the deadline for this is rather soon and I like to deliver on time, can this be tested again. I am done building a whole testing pipeline capable of creating netrunner VMs from scratch on every commit I do. At least for those VMs, both the video and wizard are fully functional. From now on testing the product on genuine clean VMs will only take ~5 minutes rather than half an hour per tes

[2017-04-27 13:44] star-buck commented on #8
But were are those VMs?

[2017-04-28 06:36] Elv13 commented on #8
On my build cluster (LAN). I use the oVirt (RedHat Enterprise Virtualization) with 2 quad core and 1 octo core. oVirt has an API to spawn such volatile/stateles VMs. However this setup relies heavily on my own network and its NFS shares (including personal data). I tried a to split the subnet so I could expose them to the internet, but that's "too much work on paid time". If you want me to do that

[2017-04-28 06:50] star-buck commented on #8
As you said yourself, you should not be doing this really and look into get this setup correctly with Rohan, who is responsible to do packages for anyone to test it (no, not enduser packages, but testing ones).

So I am really only interested to have GIT repos with branches that when pushed should result in packages that one can test.
This is done with all our development using GIT branches for an

[2017-04-28 06:53] star-buck opened #10 "wizard: registering a global account fails"
i always get this error (red error timeout) after a while when trying to register a new available global username:
![screenshot_20170421_165027](https://cloud.githubusercontent.com/assets/840070/25283805/502731ba-26b5-11e7-8906-513a9cca040f.png)

Now my network works fine, and i have added a local account already, so not sure why it fails to have a global account.

[2017-04-28 06:54] #8 closed, assigned to Elv13

[2017-04-28 06:55] star-buck commented on #9
@shadeslayer : is this working now with our method to package things?

[2017-04-28 06:56] Elv13 commented on #8
To clarify, my intention is not to create public deb. This pipeline is what actually compile the code when I press make. It's main objective is to use my build cluster for faster compilation. The only reason it generate .deb is to allow me to test the code on my own computer.

[2017-04-28 06:58] Elv13 commented on #10
If it gets red it means at least the last issue has been resolved. Can I have the daemon and client logs? Without them there is little I can do. I did extensive testing locally and on VMs and it seems rather reliable to me.

[2017-04-28 06:59] star-buck commented on #10
as concluded in the other packaging thread, i believe once packaging in a reliably and transparent way is solved, this also should be solved and from then on result in packages that are relaibly testable.

So I am waiting for shadeslayer to show up on IRC and let me know where I can get the latest packages to test it again.

[2017-04-28 07:00] star-buck commented on #3
@Elv13 : What is the update on this?

[2017-04-28 07:01] star-buck commented on #4
@Elv13 : What about the last comment proposal?

[2017-04-28 07:01] Elv13 commented on #3
It is done

[2017-04-28 07:04] star-buck commented on #3
great, please mark things done with the green label to easier spot what is ready fopr testing.
Once confirmed on another machine to work, I'll close any issue which has been
- coded
- properly packaged
- could be installed
- and confirmed to work.

[2017-04-28 07:04] Elv13 commented on #4
The wizard welcome page has been disabled as proposed

[2017-04-28 07:07] star-buck commented on #4
So the welcome page has been disabled only in this case when directly invoked from menu, but it still shown normally while starting the client (with or without having an account already defined)?

[2017-04-28 07:11] Elv13 commented on #4
Correct. The splash screen replaced the wizard welcome page (as suggested). It is shown (unless disabled in the config) when the client launch (both the first and subsequent usage). The splash screen is not shown when invoked by the menu.

[2017-04-28 07:13] Elv13 commented on #10
I really don't wish to open the debate again, I have no intention to provide public packages and/or spend any time on the framework to generate them. Those are the build artifact of my build cluster, nothing else.

That being said, in case you wish to test now http://184.160.93.215:8080/netrunner/ring-kde_16.12.0-1_amd64.deb should help with that. It is *not* intended for regular use and is a **in

[2017-04-28 07:30] star-buck commented on #4
This is not related to this ticket, but since you mention it here again:
There should not be another splash screen though, as the Welcome splash already IS a splash screen.

[2017-04-28 07:49] Elv13 commented on #4
Sorry if I misunderstood your original intent. While I did "unify" the splash screen, I did it the other way around. This can be fixed quickly.

Please note that technically, from a pure protocol point of view, the wizard isn't really considered a splash screen. I don't want to by pedantic here, but a splashscreen is "hardcoded"[1] into X11 (probably not in wayland) as a special window type design

[2017-04-28 10:53] shadeslayer commented on #9
There seems to be a bug where it downloads GNU Ring API definition even when the headers and XML API from ring is installed. See [this](http://dci.pangea.pub/job/netrunner-backports_release_ds9-extras-packaging_ring-kde_bin_amd64/14/console#console-section-1)

Is this intended? Shouldn't it use the headers installed by my ring-dev package? Since the headers on git could very well be different from

[2017-04-28 15:25] star-buck commented on #1
hmm, i tested the latest package and the client starts again right when logging in.
Is there any place i can check or a config file to delete?

[2017-04-28 15:33] star-buck opened #11 "systray: right-click: Remove second "Quit" Option at popup bottom"
there are two "Quit" entries, lets keep the one with the shortcut+Q and remove the second:
![screenshot_20170428_173127](https://cloud.githubusercontent.com/assets/840070/25535824/b8da214e-2c38-11e7-86a1-6f03bdc68932.png)

[2017-04-28 15:35] star-buck commented on #1
okay, i checked this:
.config/autostart/ has a cx.ring.ring-kde.desktop file, if i remove it and restart ring, it gets added there again. This should not be done automatically, but an option in settings that is UNCHECKED default and can be checked so the file gets placed, or deleted again if unchecked.

[2017-04-28 16:38] star-buck commented on #10
works with new ring-kde package

[2017-04-28 16:38] #10 closed, assigned to Elv13

[2017-04-28 16:39] star-buck commented on #1
works, but oddly has a bug upon configuring this option (will open a new ticket)

[2017-04-28 16:39] #1 closed, assigned to nobody

[2017-04-28 16:41] shadeslayer commented on #9
Should be done now.

[2017-04-28 16:42] star-buck commented on #9
and seems to work

[2017-04-28 16:42] #9 closed, assigned to shadeslayer

[2017-04-28 16:45] star-buck commented on #4
lets go with the welcome splash as described #3 for several reasons
(but also if only for the reason the other is X11-dependent anyway)

[2017-04-28 16:54] star-buck commented on #4
here is how skype on linux always starts in the center, same size, even if you move it:
https://www.dropbox.com/s/gw7i9e1lsw4wnm1/skype-startscreen.mkv?dl=0

[2017-04-28 16:59] star-buck commented on #4
since this ticket about the option to show the wizard again is solved, ill close this here now.

[2017-04-28 16:59] #4 closed, assigned to nobody

[2017-04-29 05:11] Elv13 commented on #1
After investigating, I found the following limitations:

* Changing the default while the configuration was previously "implicit" would not trigger the function that removes the `.desktop` file from `autostart`. This is a known limitation. This wont affect new users
* Very old build of `ring-kde` called the file `ring-kde.desktop`. This was changed to `cx.ring.ring-kde.desktop` last year. If you h

[2017-04-29 05:26] Elv13 commented on #11
Done. Unfortunately, the one kept is the one without the `Ctrl+Q`. This is due to the second `Quit` being the one added automatically by `KStandardActions`. The reason for that is rather logical. `Ctrl+Q` is not a global shortcut. So pressing `ctrl+q` from the systray without the client being focused would not work anyway.

![pick11](https://cloud.githubusercontent.com/assets/340384/25553208/031c3

[2017-04-29 06:07] Elv13 commented on #3
Done

[2017-04-29 08:46] star-buck commented on #1
yes, it actually was the first point. :)
Now after fresh install, it works as expected.

[2017-04-29 13:45] star-buck commented on #6
i was able to make a call and confirm the popup is showing.

[2017-04-29 13:45] #6 closed, assigned to nobody

[2017-04-29 13:51] star-buck opened #12 "GUI Mockup ideas: remove old SLFPhone UX, built update packages for easy testing"
remove old SFLPhone UX, built easy packages for testing

[2017-04-29 14:06] star-buck commented on #12
the idea is to only have two TICKED displays visible:
- Contacts aka Adressbook
- History aka Timeline

I'll add 2 tickets to discuss these two displays.

[2017-04-29 14:08] star-buck opened #13 "GUI Mockup: Contacts"
could look like this:
![contacts](https://cloud.githubusercontent.com/assets/840070/25556057/e465583e-2cf5-11e7-94be-331f00167cf6.png)

- sidebar shows contacts alphabetically
- main area shows info about contact with call or chat option

[2017-04-29 14:10] star-buck opened #14 "GUI Mockup: History/Timeline"
could look like this:
![history](https://cloud.githubusercontent.com/assets/840070/25556064/2258853a-2cf6-11e7-959d-f120b78e96de.png)

- sidebar shows last called contacts
- main area shows contact info and call/chat timeline

[2017-04-29 14:19] star-buck commented on #12
the main layout could already look like this via mere config as a starting default:
![screenshot_20170429_161355](https://cloud.githubusercontent.com/assets/840070/25556109/485dff20-2cf7-11e7-8537-e1c317f30881.png)

Then we can simply move the TABS from the bottom to the left side with only an ICON visible, similar to current call clients like skype or viber:
![main-layout](https://cloud.githubuse

[2017-04-29 14:22] star-buck commented on #12
Then we can simply move the TABS from the bottom to the left side with only an ICON visible, similar to current call clients like skype or viber:
![main-layout-2](https://cloud.githubusercontent.com/assets/840070/25556152/10ee7032-2cf8-11e7-9f13-6b0d8bd91985.png)

[2017-05-02 06:28] Elv13 commented on #12
Very early screenshot:

![pick11](https://cloud.githubusercontent.com/assets/340384/25606169/0f80b4b6-2ede-11e7-8cf7-445a898f8ec3.png)

Qt doesn't support messing the QDockWidget tabbar, but using some objecttree hacks and some "special..." tricks I could force it to look like you want. Testing is pointless until it gets more robust. The icons size, shadow and look will need some work too.

As for

[2017-05-02 08:14] star-buck commented on #12
That looks promising.
As for the phone call option, either still put an icon below the Adressbook icon, even if it uses the full right pane for the dial or we could simply add a button in the toolbar, where the dialpad for a new number comes up as overlay/popup?

[2017-05-03 02:05] Elv13 commented on #13
#### Progress/roadmap/tasks tracker:

 - [X] Fix the availability of actions (like add contact, edit contact) for registered usernames
 - [X] Save relevant data in the history database to avoid DNS name vs. registered name ambiguity
 - [X] Add registerednames to the deduplication index (otherwise adding a contact on the ringId wont be visible on the registered name based history/bookmark/call/cert

[2017-05-03 08:22] star-buck commented on #13
Screenshots look promising, and yeah, lets not use anything Akonadi right now, as it is quite unclear what is the future of KDE Pim with two projects competing.
We could discuss what makes sense with anyone at the Akademy, but keep it independent for now and possibly do a connector or bridge later.

[2017-05-04 07:41] Elv13 commented on #12
The problems are much deeper than that. First, there is an implementation constrait: QDockWidget doesn't officially support messing with the way it implements tabs. `KXmlGuiWindow` also does extra magic to save the state and this would mess it up. So Having a tab and the right pane isn't an option without sacrificing the whole dock system (and a lot of `ring-kde` depends on its behavior). Then the

[2017-05-10 12:55] Elv13 commented on #13
As promised, here's my update. It is very early. 90% of the work is getting the backend into shape for the timeline "mega feature". But contacts is progressing as well.

![image](https://cloud.githubusercontent.com/assets/340384/25899430/d1861c4c-355d-11e7-9c1c-63ebfd78d3e8.png)

Please don't mind the colors and general ugliness. I am not working on "cool looking UI" yet. It is more about getting

[2017-05-10 13:11] Elv13 commented on #14
Here's the first half

![image](https://cloud.githubusercontent.com/assets/340384/25899767/16124b82-355f-11e7-8aaa-5d8831503198.png)

![image](https://cloud.githubusercontent.com/assets/340384/25899784/248d8cf8-355f-11e7-9e19-bacd253d0bc7.png)

This is the "peers timeline" or "friendlist". It gets re-ordered and replaces the CallList in the timeline GUI. It performs mostly as expected, the recent

[2017-05-10 13:23] Elv13 commented on #14
(based on the emailed requirements and screenshot above)

 * [X] Implement contact method deduplication when registered ring names are used
 * [X] Update the phonebook/phonedirectory to support registered ring names
 * [X] Write a new Peers Timeline Model
 * [X] Implement a GUI for the Peers Timeline Model
 * [X] Upgrade the ContactMethod class to support live attributes such as active calls, reco

[2017-05-10 19:21] star-buck commented on #13
Looks really good feature wise.

[2017-05-18 07:37] Elv13 commented on #13
[Weekly update]

As this is interwinded with the new timeline UX, I don't have a spectacular screenshot to show, but this is mostly done. Some important corner cases still need to be handled (like persisting new contacts...), but overall it works. Saving works. Most of the code is under the hood and the GUI is still not very nice, but overall it's getting there.

[2017-05-18 07:53] Elv13 commented on #14
[Weekly update]

Lot of progress, but still not winning the Skype "pretty UX crown" anytime soon. This is a lot of work, bug fixing/debugging and related tasks. I would have liked to have a completed prototype for today, but given how buggy it currently is, I think it wont be before Friday before it's ready for serious testing.

Like last week, please ignore the color, ugliness and debugging GUI.

[2017-05-19 10:47] star-buck commented on #14
Really nice screenshots.
Lets keep the videocall window seperate for now.
Rich text would be fine, even with images or small video snippets if a user wants to record and send a video message to one of the contacts, but that all can be added later.

[One idea we could even do in the mid-future is adding IMAP Email mapping autosorted in the same visual way like sms-text-chat, that is left and right,

[2017-05-27 06:03] Elv13 commented on #14
[1 day late...] Weekly update

I just finished the "main development". It took a bit more time than I expected, but the whole thing (and implementation) was rather ambitious to begin with. The look isn't finished yet, but at least most of the uglyness is gone.

First of all, the timeline itself is now implemented. The following media are supported (to various degrees, including "not yet, but there

[2017-05-27 06:21] star-buck commented on #14
Looks really good, cant wait to test it. :)

[2017-05-27 06:23] Elv13 commented on #13
(the feature is unchanged since last week, it is now awaiting testing)

[2017-05-29 16:21] shadeslayer commented on #14
Updated the ring-kde and ring packages on DCI from the next branch. Just waiting on ARM64 to finish building.

[2017-05-30 08:21] Elv13 commented on #12
This issue is now mostly completed. The app is split in 2. The command `ring-kde --phone` will start the old SFLPhone UX. By default it starts the Timeline UX. There is a phone icon at the bottom right. Once clicked, it display the phone user interface with the dialpad and account list as requested.

![pick13](https://cloud.githubusercontent.com/assets/340384/26574363/13bfef8e-44ef-11e7-8e02-522c4

[2017-05-30 08:26] Elv13 commented on #14
@shadeslayer thanks

Bugs to fix:

 * [ ] Complete the split of the call and IM UXes
    * [X] Only show the right windows
    * [ ] Turn the phone window into a dialog type
    * [ ] Add a systray entry for each mode
    * [ ] Add extra shortcuts and KCFG for each mode
    * [ ] Upgrade the configuration dialog to reflect that duality
 * [ ] Display the correct timeline when a new message arrives

[2017-05-30 11:12] shadeslayer commented on #12
The CI doesn't do cron jobs. You need to tell it to poll a git repo to check if there were changes, and if there were, it'll build them.

You can trigger that with each git commit from your end as well using this command in a git push hook :
[code]

[2017-06-02 06:16] Elv13 commented on #13
Newly added:

 * Support for setting the photo from the webcam, camara or file (with a very basic GUI editor)
 * Support for addresses
 * Support for multiple phone number or Ring accounts
    * Call each numbers directly from the GUI

![image](https://cloud.githubusercontent.com/assets/340384/26713205/5910c936-4739-11e7-83f2-db1bdec139c2.png)

[2017-06-03 13:40] star-buck commented on #12
I tried the packages built from @shadeslayer , but the program looks not right or at least different.

@Elv13 : Can you add some screenshots showing a fresh installed ring-kde client, PLUS have the screenshots in STANDRARD BREEZE (light version instead of dark black colors).

Alternatively, a video would also do, again from a FRESH installed ring-kde version with LIGHT themeing, where you showcase

[2017-06-03 13:42] star-buck commented on #13
@Elv13 : Please provide non-TRON-like screenshots with standard KDE Breeze theme LIGHT version.

[2017-06-03 13:46] shadeslayer commented on #12
Note that I'm building the next branch since I wasn't told otherwise, in case that makes a difference.

[2017-06-03 16:05] star-buck commented on #12
@shadeslayer : Roger, let me know when done.

To clarify:
I dont mean contacting a user over the OLD REDUNDANT CALL Interface (we have to get RID of that ASAP), but
- contacting another registered ring-user from my newly created ring-account over the ring network and storing her/him as Contact in the addressbook.

[2017-06-03 17:39] Elv13 commented on #12
I moved the old interface out of the way so that the new one can take its place pieces by pieces until all features are available. It is in no means completed and final.

as you noticed by now, the old interface is still required for many operations, such as answering a call once the notification is gone. Actually calling someone without going through the maze of popups to add a contact is also so

[2017-06-03 17:50] star-buck commented on #12
Lets go version 1 with doing the following:
2 toolbar options next as simple popups which when saved or executed
register a new entry in timeline or adressbook:

- call ring-user (simply name or number field and "call or cancel" buttons,
adds call attempt to timeline)
- add contact (popup with only the most necessary infos, that is RING-name
or ID, and slme more fields, the complete info can be fi

[2017-06-03 17:53] star-buck commented on #12
Lets also blend in the status bar again with my current selected ring
useraccount name.

The goal is to make the current freshly installed interface daily useable
ASAP without ever needing the old interface.
That should be the biggest priority bar none at this point.

On Jun 3, 2017 7:50 PM, "Clemens Toennies" <starbuck@netrunner-os.com>
wrote:

[2017-06-05 08:22] star-buck commented on #12
Now even more so:
http://www.omgubuntu.co.uk/2017/06/skype-4-3-linux-stop-working-july-2017

@Elv13 : Any video showcasing how a new installed ring-kde client adds and calls another registered ring user (in Breeze light)?

[2017-06-05 08:27] Elv13 commented on #12
The build error yesterday was on me. The rebase I did Friday afternoon had one commit mis-rebased and didn't compile. This fix is in. I will deliver the video tomorrow.

[2017-06-06 07:33] Elv13 opened #15 "Create new daemon nightlies .deb"
@shadeslayer First, sorry to ask anything, I know you are probably busy.

Until a few weeks ago, upstreamed seemed to support a `packaging` branch in that daemon that actually produced working `.deb` when executed in docker. However since many days, it's broken and nobody will fix it / maintain it anymore. I used that to take my screenshot/screencast and test a "clean" environment.

I tried to ada

[2017-06-06 08:16] star-buck commented on #15
@Elv13 :
unfortunately Rohan can't build Neon packages on DCI.
You somehow need to get Netrunner working for us to build and test nightlies.

[2017-06-06 08:17] Elv13 commented on #12
https://www.youtube.com/watch?v=8fF3mYEHqE4

Not exactly pretty looking (yet), but as I said before, I wont choose the colors/style myself, my taste are very controversial as you mentioned in the other thread. I prefer to let the "raw QML" as is and have the VDG or anyone else set the style. Do you want me to contact them already or do you prefer me to set a proper style like Android material and

[2017-06-06 08:17] star-buck commented on #15
@Elv13 : to get this going and keep contact, please join our channel on IRC freenode #dci-jenkins

[2017-06-06 08:18] Elv13 commented on #15
Done

Do you want me to investigate? The error is the classical "no screen found". The reason is rather easy to fix, but the packaging cause it often hard to figure out. Debian: work, Kubuntu: work, Neon: work, Netrunner: error.

[2017-06-06 08:18] #15 closed, assigned to nobody

[2017-06-08 07:37] Elv13 opened #16 "Code: remove some old features"
Just to keep a list of what was removed and what will be (these commits are not pushed in the branch for testing yet as the replacement UI has some serious unsolved problems.

[code]

The old call window is getting replaced by a tab in the main pane. A popup doesn't look right and isn't what every other clients do. You always have focus  and stacking issues when chatting. From an usability POV, it

[2017-06-08 07:55] Elv13 opened #17 "Idea: Add a new status bar"
You asked for this somewhere, but I am a little unsure about the expected behavior changing the selection does.

Questions:

What should it do? Having an always visible combo box to select multiple accounts may "look great", but what effect should it have. The chat system is designed to always pick the same account the conversion was started with and having multiple account seems like a little nic

[2017-06-21 09:27] Elv13 opened #18 "GUI: Ongoing status (removing the old GUI completely)"
Timeline:

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/340384/27376699-f6f190e8-5640-11e7-8d2a-d7291ed2906e.png">

Ringing call:
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/340384/27376765-1e2dc08c-5641-11e7-8a1a-53d2a14d9e83.png">

The widget at bottom tracks the call progress and print relevant error if it failed

After the call e

[2017-06-27 11:09] Elv13 commented on #18
Edit:
[ring-kde.zip](https://github.com/ring-project/ring/files/1105125/ring-kde.zip)

[2017-06-27 11:51] Elv13 commented on #18
I updated the link above with the bleeding edge version. The one from Friday had a little crash once in a while. The new package isn't perfect, but at least it doesn't have that crash

[2017-06-27 15:56] Elv13 commented on #18
[ring-kde.zip](https://github.com/ring-project/ring/files/1105925/ring-kde.zip)

[2017-08-31 18:26] #11 closed, assigned to nobody

[2017-08-31 18:43] #3 closed, assigned to nobody

[2017-09-06 06:37] UriHerrera commented on #18
Hi @Elv13,

@star-buck asked me to help out with the GUI work. Here's some of the mockups though there's more to make but should get you started on how to make it look native to Plasma like using native UI elements rather than making custom ones.

Account setup # 1:
![](https://i.imgur.com/9iLoyZP.png)

Account setup # 2:
![](https://i.imgur.com/wlKFNO4.png)

Account setup # 3:
![](https://i.imgur

[2017-09-06 06:51] Elv13 opened #19 "release 3.0.0 alpha0 (appimage)"
Alpha0 will be released soon. Last minute testing showed an upstream regression make the daemon crash during some necessary account import steps. I am holding the release until this is resolved. It is currently unclear if it's exploitable, but it does leak the private key into the core dump and main memory during the crash, so I consider this too serious to ask "the world" to test this version unt

[2017-09-06 07:05] Elv13 commented on #18
Thanks a lot for this. They look very nice. A few thing that probably will need to change:

 * The side tabbar. It was requested by @star-buck and it also being used in many new Kirigami/QML KDE apps such as Kube.
 * The contactrequest tab and history tabs are not needed. The Gnome client plan to remove them too. The information is integrated in the timeline.

Those are not custom ones. Those part

[2017-09-06 07:45] UriHerrera commented on #18
Ah ok, we're working on a Kirigami app. I'll update them.

[2017-09-06 09:28] star-buck commented on #18
How about we name it ring-qt?
"Welcome to Ring-Qt, a frontend for the Ring Network."

Also, are we really working on a kirigami app? Lets streamline the
currently used UI first instead of rewriting it yet again.
The sidebar should be used for the tabs therefore, but the most important
mockups would be the content inside the tabs while we keep the basic
structure layout outside of the tabs content

[2017-09-06 09:33] star-buck commented on #19
@Elv13 : To allow easy testing, please start building an appimage.

[2017-09-06 17:22] Elv13 commented on #18
First of all, renaming an app is complex and require some extra work to make an automatic config porting system, breaks the namespace, dbus paths and confuse users. So this is not to be taken lightly. But most of all, it would be even worst than Ring-KDE. Both the Gnome, Windows and macOS Ring clients uses Qt. They are built on top of sflphone-kde (renamed ring-lrc) just as ring-kde is. The window

[2017-09-06 21:37] UriHerrera commented on #18
Ok so, from a technical perspective the UI can look however we want? @Elv13

[2017-09-07 01:46] Elv13 commented on #18
Well well well, what a timing!:

http://jriddell.org/2017/09/06/qqc2-desktop-style-beta-release/

I will try it once I get a stable Internet access again. I am at the airport leaving for the Randa meeting, so I will be on IRC on and off for the last 40-somthing hours while I bounce around the world.

I can say what's possible, but @star-buck says what has to be done. Here are the guidelines I got

[2017-09-07 04:48] UriHerrera commented on #18
Question, other than the timeline button and the button below it (what does it do?), what else goes into the tabbar? or what else will go into the tabbar?.

[2017-09-07 07:38] Elv13 commented on #18
The button below the timeline is the addressbook. There is also the history and the bookmark panes, but they are currently disabled as requested by @star-buck. If it was to become a Kirigami app, then there would also need to be a setting. The previous version also had a dialer mode for "real" phone calls, but it will need to be rewritten to QML. The dial pad is required when calling numbers with

[2017-09-07 15:50] star-buck commented on #18
Some thinking:
History and Timeline should be redundant, at least conceptually.
Bookmarks aka Favorites could be integrated into Contacts/Adressbook/People, where the starred ones can be at top or filtered?

[2017-09-07 15:53] star-buck commented on #18
Lets concentrate on the two tabs we have though and see to visually refine them. To keep this from grwoing too long, I suggest using seperate issues for timeline and adressbook mockups.

[2017-09-11 03:56] UriHerrera commented on #18
Alright so I redesigned the main window.

Timeline
======

I added a tabbar. It has 4 buttons: timeline, dialpad, contacts and settings and the user avatar at the top. It's not dark *but* it's using the colors from the Ring logo. It helps to have the branding integrated in a way in the software.

The timeline is divided in days and within each day the activity by contact ordered chronologically. T

[2017-09-11 07:23] Elv13 commented on #18
Ah, now that starts to look its heading somewhere! Nice mockup!

Now, lets break this down a bit and improve some areas.

### The information fields

 * I am not sure the full date/time is required. There's already the date above them, so the information is redundant.
 * The peer name isn't standing out enough. I am not saying the photo should be added. Often, there is no photo, so you get the sto

[2017-09-11 23:42] UriHerrera commented on #18
I'll update the mockup.

[2017-09-12 10:36] star-buck commented on #18
@Elv13 :
- yes, i can imagine we dont need the toolbar if we have "add contact" as an entry in the sidebar
- color coding sounds fine as suggested, maybe still add a small picture/avatar, but either is fine

[2017-09-12 10:45] Elv13 commented on #18
Got it.

Also, the Kube/Sync team arrived at Randa today. We prototyped Ring-KDE email/contact integration this morning. I wont spend more time on this until you approve it, but so far so good. It works rather well actually. Note that the prototype is only the backend, I didn't implemented emails in the timeline yet, so there is nothing to see beside "umm, yes, they are successfully loaded". If I

[2017-09-12 11:23] star-buck commented on #18
@Elv13 : sounds great!
Who exactly is the kube/snyc team in Randa?

[2017-09-12 11:24] star-buck commented on #18
lets do email integration after textchat and audio/videochat is done, like a major version 2.0

[2017-09-13 10:34] Elv13 commented on #18
Christian Mollekopf and Micheal Bohlender

[2017-09-15 01:24] UriHerrera commented on #18
* Removed the date from the info. fields.
* Extended the field to include the ID of the sender in bold. It could also say : _Sent by:_ before the ID, username, phone number or email.
* The info. field shows the number of messages not read.
* If there are no call activity the info. fields only show 2 rows. Third row only shows when there's missed calls.

![](https://i.imgur.com/Joq4uGA.png)

My ide

[2017-09-15 08:04] Elv13 commented on #18
Ok, thanks. Once me and sgclark are done with the appimage I will release beta1 with the old UI. I will start to upgrade the GUI.

One last issue is that hardcoding grey color wont work. It has to follow the system (color) QPalette. Whatever color is there has to work in both light, dark and HiColor themes.

https://api.kde.org/4.x-api/kdelibs-apidocs/kdeui/html/classKColorScheme.html
http://doc.q

[2017-09-18 15:52] Elv13 commented on #19
Just an update to confirm I am still working on the appimage. Scarlett spent a lot of time a few months ago and it never fully worked. So far this is the same here. The previous work is kind of a dead end. First of all, what that system did was very complex. The Dockerfile to build Scarlett appimage is huge and doesn't scale well (edit: and can't work because of the new -fPIC requirement). It requ

[2017-09-19 00:42] UriHerrera commented on #18
http://doc.qt.io/qt-5/qpalette.html#ColorRole-enum

So it can be any color from the color scheme that I can select in System Settings?

![](https://i.imgur.com/jfGjz7G.png)

I used `Inactive Titlebar Text` for the fill and `Inactive Text` for the borders on the gray info. fields from the Breeze color scheme.

[2017-09-19 05:49] star-buck commented on #19
Hi Emmanuel,

please note that Scarlett has been reassigned to not work on any appimages.

You would have to do the appimage yourself and look around for help, like on
github.com/appimage, #irc appimage etc.

There are many appimages out there like vidcutter, etc. so ring-kde should
be doable.

Just the automation scarlett was attempting isnt feasable hence her
reassignment.

Building an appimage

[2017-09-19 09:17] Elv13 commented on #19
I know. What I was referring to is that I started using her work as a starting point to investigate the system and identify the issues that caused the effort to fail. I didn't want to go in full "not invented here" mode until I was knowledgeable about the existing body of work that has been invested into `appimage`.

I am very well aware of that and have been working on it for the last 4 days (exc

[2017-09-19 09:51] star-buck commented on #19
On Sep 19, 2017 10:17, "Emmanuel Lepage Vallée" <notifications@github.com>
wrote:

starting point to investigate the system and identify the issues that
caused the effort to fail. I didn't want to go in full "not invented here"
mode until I was knowledgeable about the existing body of work that has
been invested into appimage.

Okay great, wasnt aware of that.

things arent overly complex as they

[2017-09-19 11:16] TheAssassin commented on #19
The AppImage team can provide support, yes. It will be best to do it interactively, so I'd invite you to join our IRC channel on Freenode: [#AppImage](https://webchat.freenode.net/?channels=appimage). We should be able to build an AppImage that pleases everyone and comply your requirements.

I am not 100% sure what your problems are (and I can't check out the source code), but it looks like a Qt d

[2017-09-19 11:48] Elv13 commented on #18
The limitations for KDE applications are to avoid hardcoding colors as we have to support both alt color schemes and HiContrast for accessibility reasons (there's laws for this in various countries). Using random colors from the palette may or may not cause issues. In "the real world" we could try to use colors that looks like in both light and dark mode and have an alternate sets for High Contras

[2017-09-19 18:56] UriHerrera commented on #18
I'll add a mockup with the colors from the High Contrast color palette.

----

Update:

![](https://i.imgur.com/M0Ow0Bv.png)

Here I used the colors from the High Contrast palette in Plasma.

[2017-10-03 06:25] UriHerrera commented on #18
![](https://i.imgur.com/eL4Ix2t.png)

Or could be like this: Don't force the colors but just add a star to the favs. Much simpler.

[2017-10-06 21:18] Elv13 opened #20 "Fix ICE/UPnP handshake on some common German ISP routers"
Apparently Deutsche Telekom, T-Mobile and FRITZ!Box devices are affected by less or more (hopefully), the same issue.

Relevant protocol documentation:

https://tools.ietf.org/html/rfc6886
https://tools.ietf.org/html/rfc6970
https://tools.ietf.org/html/rfc5245

Mitigation:

 * Disable UPnP in the advanced settings

Long term solution:

 * Have a troubleshooting module / wizard to auto-detect and a

[2017-10-07 06:28] star-buck commented on #20
So if ring was working fine with any of the non-appimaged versions
previously between the same participants this seems irrelevant.
I also tried gnome ring and it was working fine as well, never changed the
router between then and now.
Will simply try and call myself on the phone from 1. the appimage and 2.
ring gnome today to see what happens in case anything has changed on my
friends side, though

[2017-10-07 08:41] Elv13 commented on #20
Does it for you? It turned out my issue was [a time calculation bug in the security validation code](https://tuleap.ring.cx/plugins/tracker/?aid=1728&group_id=101) and not related to the network stuff. Once I got that fixed (its probably not your issue) it started working again with the appimage.

So your issue is neither the one described above nor the one I originally had. I will need more infor

[2017-10-07 09:16] star-buck commented on #20
Yeah, I can confirm the ring-kde appimage works with the latest ring android client! 👍
Now I also installed ring-kde and ring-daemon manually on netrunner rolling, so im not sure this is what made it work.
Will uninstall everything now to see if it still works with android <-> ring-kde.appimage.

[2017-10-07 09:17] star-buck commented on #20
sidenote:
for testing this appimage method seems awesome, i just wonder what happens when closing the appimage since the daemon then stops being active to monitor incoming calls?

[2017-10-07 09:25] star-buck commented on #20
happy to confirm:
appimage version still runs fine without anything else installed, completely removed ring-kde and ring-daemon previously installed and ended process "dring" manually.
Still able to make a video call to the android client and viceversa. Great!

[2017-10-07 09:30] star-buck commented on #19
alpha0 done. will add new ticket for alpha1

[2017-10-07 09:30] #19 closed, assigned to Elv13

[2017-10-07 09:32] Elv13 commented on #20
Ok, good. A distributed media handshake is always a rather complex process. It's good to know there isn't a systemic problem I couldn't reproduce. Those are always a terrible pain to debug.

The appimage has no deamon at all. I could not use a daemon since the Gnome and KDE client could not have worked on the same system (as they may use different/imcompatible daemon version and it *would* cause d

[2017-10-07 09:36] star-buck opened #21 "alpha1 appimage"
@Elv13 :
Lets continue with 3.0.0 alpha1 appimage:

- filename: kde-ring_3.0.0_alpha1.appimage
- solve missing themeing packages
- fix older glibc requirement
- get rid of the old gui (edit: added as requested in Berlin)

[2017-10-07 09:38] star-buck commented on #20
i think its fine for testing until we enter beta or RC phase.
lets continue with making alphaX appimages and perfecting these.

[2017-10-07 09:43] star-buck commented on #18
since the ground work has been laid, lets close this here and evaluate each main screen option in detail in seperate topics after alpha1 appimage gets shipped.

[2017-10-07 09:43] #18 closed, assigned to nobody

[2017-10-07 09:43] Elv13 commented on #20
Ok, should I get back on the "older" systems support and the theme now? An user also reported a crash, I will fix it too. I will work a bit today because I lost some time 2 days ago due to the storm.

I finally got a semi affordable bus ticket (they currently cost their weigh in gold until the central railways re-open...), so I should arrive in Berlin late today.

[2017-10-07 09:43] star-buck commented on #12
lets close this here and evaluate each main screen in a seperate topic.

[2017-10-07 09:43] #12 closed, assigned to shadeslayer, Elv13

[2017-10-07 09:59] Elv13 commented on #20
Bugs created for the port locking race condition/collision

https://bugs.kde.org/show_bug.cgi?id=385461

[2017-10-07 11:09] Elv13 commented on #21
I have to setup a crosscompiling toolchain anyway since upstream requires full C++14 and C11 support (GCC 6.2+), so what are the desired target archs? Obviously `linux-musl-x86_64`, but do you want an `linux-musl-aarch64` (newer Odroid) and `linux-musl-armhf` (raspberry Pi second gen and older Odroid) too? Should I add an ARMv6hf Android image too for easier touch testing?

[2017-10-07 11:20] star-buck commented on #21
The only other arch interesting would be pine64, otherwise lets not waste
effort on those until after a first official 3.0 release.

[2017-10-07 11:46] TheAssassin commented on #21
Pine64 ships with an [ARMv8](https://linux-sunxi.org/Pine64) (a.k.a. [`arm64` as called by the Linux kernel](https://linux-sunxi.org/Arm64#Naming_conventions)) CPU.

[2017-10-07 11:49] Elv13 commented on #21
Also called aarch64 by target names (afaik)

On Oct 7, 2017 1:46 PM, "TheAssassin" <notifications@github.com> wrote:

[2017-10-07 11:50] TheAssassin commented on #21
Yes, see the link to the Linux SunXI wiki I posted.

[2017-10-07 11:53] Elv13 commented on #21
Sorry, I sent it from mobile. So yeah, linux-musl-x86_64 and
linux-musl-aarch64 appimages.

On Oct 7, 2017 1:50 PM, "TheAssassin" <notifications@github.com> wrote:

[2017-12-06 07:46] Elv13 commented on #21
The Kirigami branch has been merged into master. The old GUI has been removed (-12k line of code and -53k worth of assets and code) and Ring-KDE is now a pure QML/Kirigami application beside the configuration dialog. I will build the `appimage` tomorrow.

The `ring-lrc` fork as also been renamed `libringqt` as upstream drops support for Qt and the project are officially diverging. This resolve the

[2017-12-06 07:52] star-buck commented on #21
That sounds like awesome progress forward.

Do we still share the underlying stuff with ring, so only the GUI diverges?

[2017-12-06 09:27] Elv13 commented on #21
Basically, yes. The GNU Ring project has many layers:

 * Libring: The library that implements the distributed network protocol itself. This is used by all clients, including Ring-KDE and **is still 100% shared**.
 * The ring daemon: Optional component to use GNU Ring over DBus or RESTful. It's useful because both process can be hardened separately. **Ring-KDE fully supports the Ring daemon**. The

[2017-12-06 12:07] TheAssassin commented on #21
@Elv13 is there a pre-release to test already available somewhere?

[2017-12-13 11:46] Elv13 commented on #21
The new pre-release: https://github.com/ring-project/ring/releases/tag/alpah1

## Last week log

Always 99% done until I found another problem ;), so unusual in engineering!

* The CentOS update broke the CI cloud stack, thanks Murphy's law [fixed]
* The toolchain updates (general base system updates) made the appimage crash [fixed]
* The Kirigami fork I used was too old, I rewrote the patches on

[2017-12-13 11:46] #21 closed, assigned to Elv13

[2018-02-09 12:06] star-buck opened #22 "alpha3 on Manjaro: registering a new public user closes the app first time"
when hitting "Next" the app simply closes.

[2018-02-09 12:07] star-buck commented on #22
tested this version : https://github.com/ring-project/ring/releases/download/3.0.0-alpha3/ring-kde_3.0.0-alpha3-x86_64-X.appimage

[2018-02-09 12:26] star-buck commented on #22
starting it again after it exited, it appears the account has been registered successfully though and im on my journey to explore this unique ui (surely reminds me of a good KDE application as in thousands of options ;)

[2018-02-09 13:30] star-buck commented on #22
bug remains valid though

[2018-02-09 13:35] star-buck opened #23 "Icon Sidebar: Add back the "Star" section, where to display your Starred/Favorite Contacts"
That entry should be the FIRST icon at the top of the sidebar.
It should display only starred contacts, otherwise look like "All Contacts".

![image](https://cloud.githubusercontent.com/assets/340384/25899784/248d8cf8-355f-11e7-9e19-bacd253d0bc7.png)

[2018-02-09 13:36] star-buck opened #24 "Icon Sidebar: Change "Timeline" icon with clock-like icon (see image in ticket)"
Use this icon for Timeline:
![snap 2018-02-09 at 14 36 01](https://user-images.githubusercontent.com/840070/36030225-a20f48f4-0da6-11e8-8070-48da0a71d7ab.png)

[2018-02-09 13:41] star-buck opened #25 "Icon Sidebar: change order of icons from top to bottom: Starred - Adressbook - Timeline - Dailer"

[2018-02-09 13:46] star-buck opened #26 "add systray icon: when closing appimage dont exit, but minimize to systray"

[2018-02-09 13:48] star-buck opened #27 "sliding sidebar: add account info"
add account info of user who is using this account somewhere in that sidebar (above or at bottom):
![screenshot_20180209_144455](https://user-images.githubusercontent.com/840070/36030627-478a19c0-0da8-11e8-80bb-954e5dcc6694.png)

[2018-02-09 16:02] star-buck opened #28 "unable to reach any external account, make calls, send message, etc."
I tried reaching my android ring account, but even though my android account is 100% online and fine, neither can the ring-app reach that account, not can i reach that ring-kde.

[2018-02-09 16:38] Elv13 commented on #28
Hello,

I will need the logs for that one (you can email them to me to avoid posting private data)

Also, was it using the version with demo data or the normal version? Only the normal version is expected to work properly.

[2018-02-09 17:01] star-buck commented on #28
i assume its this:
the appimage quits when registering a public account, therefore it doesnt register correctly and then fails to do anything here.
And yes, this is not the demo.

[2018-02-09 17:02] star-buck opened #29 "sliding sidebar: change text to "Configure Shortcuts", that is with an "s""

[2018-02-09 17:04] star-buck commented on #28
dependent on this bug: https://github.com/ring-project/ring/issues/22

[2018-02-09 17:05] Elv13 commented on #28
Then I will need the backtrace for this, it definitely does not crash here. You can run the appimage in gdb

[code]

[2018-02-09 17:37] star-buck commented on #28
this is all i can get you:
https://pastebin.com/fRGidSxC

It happens reproducible whenever there is a valid not yet registered account, you enter both passwords correct, and hit "Next", it quits.

[2018-02-09 19:14] Elv13 commented on #29
Done (929e16bc60c7baf01e6f0983b4de4d25839be4f3)

[2018-02-09 19:14] #29 closed, assigned to nobody

[2018-02-09 19:19] Elv13 commented on #24
Are you sure? Most timeline icons look more like the current one.

This was/is the history icon. The history is (as you requested) disabled by default and can be enabled back somewhere in the config. However I put zero time (since you rightfully pointed out isn't really useful when you have the timeline) on it so it isn't really useful right now. Maybe ask Uri his opinion?

I made that icon in 25

[2018-02-09 19:28] Elv13 commented on #28
Umm, I can't seem to reproduce it on Debian9/Ubuntu1804/Neon1604/Gentoo. I really need the backtrace.

[code]

The log says that it crash when creating the account (obviously) and the last message is from LibRingQt just before it calls into the LibRing (daemon). Then it spawn something like 9 threads and pinpointing what goes wrong require more info. It looks like an upstream bug, but you assigned

[2018-02-09 19:36] Elv13 commented on #23
Do you prefer a subset of the timeline or the alphabetical order? It doesn't change much from an effort PoV. The feature is not gone, it's just commented. You can even make the panel show up in the "Menu->View->Bookmark". Disabling the bookmark was done at your request https://github.com/ring-project/ring/issues/18#issuecomment-327841892 (at least my interpretation of it). But I agree it is useful

[2018-02-09 20:07] star-buck commented on #23
Lets enable it and see.

[2018-02-09 20:09] star-buck commented on #28
To test yourself, just download Netrunner Rolling 2018.01 and see it fail.
Maybe something is missing.
I guess Manjaro or Arch will fail too.

[2018-02-09 20:10] star-buck commented on #24
History and Timeline should be the same, hence lets switch icons.

[2018-02-09 20:59] Elv13 commented on #24
(not arguing about this icon, just discussing the issue generally given it was studied in depth)

Yes, sometime. The reality is a bit more subtle. It really depends on the device and use case. They both are lenses on top of the same data, but one is person based and the other event based. Both answers different interrogations the user might want to be answered.

What is the timeline view good at:

[2018-02-10 00:02] Elv13 commented on #23
Update:

I ended up rewriting the entire bookmark support backend. The code was a decade old and not very QML/Kirigami/Mobile friendly (as in: very slow and code-rotten).

![screenshot_20180209_185058](https://user-images.githubusercontent.com/340384/36055418-316b6d02-0dca-11e8-8c07-1499aa1f94b5.png)

New features:

 * Removing bookmarks actually works, apparently it never worked before...
 * The

[2018-02-10 07:05] star-buck commented on #24
Okay, lets keep the logo, but reorder the icons in sidebar.

[2018-02-12 19:59] Elv13 commented on #25
done (commit c446e971600b385421a0aa8d83a78e0512597dd7)

I will make a new nightly build once I am happy with #24 / #23 / #22 / #27

[2018-02-12 19:59] #25 closed, assigned to Elv13

[2018-02-13 00:34] #24 closed, assigned to Elv13

[2018-02-13 15:02] star-buck commented on #22
@Elv13 : any update on this?

[2018-02-13 15:15] Elv13 commented on #22
soon, right now I sort Kirigami things with Marco then I get back on making that build with most issues you reported being addressed. I got an appointment at the dentist at 14:00, but hopefully I should be done with this by then. Otherwise it will be tomorrow.

As far as *this* issue goes, I made a few registered accounts without crash so far. I will test with other laptops and more distros to kee

[2018-02-13 15:39] Elv13 commented on #22
Ok, marco got me the BT

[2018-02-13 18:21] Elv13 commented on #22
Ok, so the BT said this was when ring-kde calls the daemon `addressLookup`. So far, so unsurprising. This was already obvious the whole time since that's what the button does. So little progress there. So I undusted more laptops:

 * ThinkPad W540 (haswell): No issue (30 attempts)
 * MacBook Pro Retina (Ivy Bridge): No issue (30 attempts)
 * Thinkpad X201 (Nahelm): Reproduced twice (30 attempts)

[2018-02-14 17:48] Elv13 commented on #22
Ok, I made a bot to create accounts and let it run all night on the X201.

It's a good old fashion twisted race condition between 5(!) threads in LibRing, LibRingQt and the main (QML) threads... Short version, some (LibRing/daemon) signals are emitted from a thread then put in Qt signal queue to avoid being executed using the wrong thread (this is correct). However because the key generation is sl

[2018-02-14 17:56] star-buck commented on #22
Note:
I test on a very old machine, where ring itself always run fine until now,
do it better runs there fine again, as im not getting a new machine just
for it...
On Feb 14, 2018 18:48, "Emmanuel Lepage Vallée" <notifications@github.com>
wrote:

[2018-02-14 18:03] Elv13 commented on #22
Of course

This was just to document what the bug was and why I had hard time to reproduce it. It is not an excuse for the bug existence. I just bought a pineboard and odroid to run my tests on. It should help catch more of these crashers.

[2018-02-14 22:47] Elv13 opened #30 "nightlies or weeklies (keep open for new releases in the comments)"
To track the changes planned for the next build. The changes are mostly based on the reported issues and their under-the-hood impact.

Nightly builds will be provided as comments in this issue

[ starbucks changes ]

* Test better on weaker hardware [DONE]
* Port the bookmark and history panels to QML
    * Add QML support to the bookmark API [DONE]
    * Add a timeline filter only showing bookmar

[2018-02-15 03:18] Elv13 commented on #27
![screenshot_20180214_221820](https://user-images.githubusercontent.com/340384/36239075-e8d691ac-11d4-11e8-985c-51bf6180e001.png)

[2018-02-15 03:24] Elv13 commented on #27
I am doing making most of the related classed QML firendly. There is a little Kirigami issue where the action handles `y` position currently depend on the item height. This causes them to be misaligned when the height isn't constant. I will submit a kirigami patch for and wait until the next framework release before applying the change to ring-kde to avoid a dependency on Kirigami2-git

The Kiriga

[2018-02-20 07:56] Elv13 commented on #30
https://drive.google.com/open?id=1XlDiZ3Pa588tigP410I30sKe-EYpJ6eq

[2018-02-20 08:22] Elv13 commented on #27
This was quite a rabbit hole and it's still is. To get the "spirit" of the issue, it pulled quite a lot of things. So the account in the sidebar is implemented and now is correctly updated when there is issues.

Then I went further and implemented the mockup part with the profile status in the dock bar so it becomes visually obvious when there is a problem. I knew the profile support was in bad sh

[2018-02-20 10:32] star-buck commented on #30
It still doesnt work:
It doesnt crash, but doesnt seem to give me any valid account and ring number:
![screenshot_20180220_113107](https://user-images.githubusercontent.com/840070/36419275-bdc820c8-1631-11e8-8aa1-5a8e859e023d.png)

[2018-02-20 10:43] star-buck commented on #30
i have to restart to make it work....
![screenshot_20180220_113449](https://user-images.githubusercontent.com/840070/36419794-3b4a932c-1633-11e8-9589-87198435d6a3.png)

[2018-02-20 10:55] #17 closed, assigned to nobody

[2018-02-20 10:56] #7 closed, assigned to nobody

[2018-02-20 10:56] #22 closed, assigned to Elv13

[2018-02-20 10:57] #28 closed, assigned to Elv13

[2018-02-20 10:58] #16 closed, assigned to nobody

[2018-02-20 11:06] #27 closed, assigned to Elv13

[2018-02-20 11:09] star-buck opened #31 "contacts: add photo: doesnt save picture selected"
added a photo:
![screenshot_20180220_121916](https://user-images.githubusercontent.com/840070/36421314-4d84f5b4-1638-11e8-8ceb-d1423e75ffaa.png)
but still looks the same:
![screenshot_20180220_121902](https://user-images.githubusercontent.com/840070/36421323-52c3e03a-1638-11e8-91e2-9eef707c009c.png)

[2018-02-20 11:12] star-buck opened #32 "video call: doesnt display video from other caller in ring-kde"
![screenshot_20180220_121203](https://user-images.githubusercontent.com/840070/36421027-45b87352-1637-11e8-8713-c2bec3911db1.png)

[2018-02-20 11:13] star-buck opened #33 "calls/recordings tab: reverse order, so newest is first, oldest last"
reverse order here:
![screenshot_20180220_121255](https://user-images.githubusercontent.com/840070/36421081-74d7a860-1637-11e8-892a-96bd6e907edd.png)

[2018-02-20 11:18] star-buck opened #34 "Profile Picture: auto fit the format to make it compatible, regardless of which picture the use selects or the camera provides"
add option to change profil picture here:
![screenshot_20180220_121707](https://user-images.githubusercontent.com/840070/36421262-17937e94-1638-11e8-9955-29ce842b0b63.png)

show here if set:
![screenshot_20180220_121728](https://user-images.githubusercontent.com/840070/36421276-2411812a-1638-11e8-8724-7ed9038ab5a9.png)

[2018-02-20 12:17] star-buck opened #35 "ring id "number" missing upon first creation of an account"
Creating new account doesnt crash, but doesnt seem to give me any valid account and ring number right after clicking "Finish":
![screenshot_20180220_113107](https://user-images.githubusercontent.com/840070/36419275-bdc820c8-1631-11e8-8aa1-5a8e859e023d.png)

After restart it seems to work....
![screenshot_20180220_113449](https://user-images.githubusercontent.com/840070/36419794-3b4a932c-1633-11e8-

[2018-02-20 14:26] star-buck opened #36 "Favorites: clicking on a person doesnt change context"
![screenshot_20180220_152557](https://user-images.githubusercontent.com/840070/36429222-706371cc-1652-11e8-830c-f580002afe94.png)

[2018-02-20 14:34] star-buck opened #37 "move own small video from left to right corner + ALWAYS show it and not hide it with the other overlays"
currently, its in left corner and hides with the other overlays:
![screenshot_20180220_153315](https://user-images.githubusercontent.com/840070/36429631-808e8b08-1653-11e8-9e04-d2554fb7727f.png)

[2018-02-20 14:35] star-buck opened #38 "video from remote participant is not shown in ring-kde, but own video is sent and shown to participant"
so on my android, i see the video from ring-kde desktop, but with a 10 seconds lag...

[2018-02-20 16:42] star-buck opened #39 "ring-id "phone number" is sometimes shown, sometimes not, even though the system knows it"
here one can see that the number of ronaldpb is known at the side, but not at bottom:
![screenshot_20180220_173741](https://user-images.githubusercontent.com/840070/36436699-509a30b6-1665-11e8-938a-3797e840ce76.png)

for the other contact it is shown both times fine:
![screenshot_20180220_174226](https://user-images.githubusercontent.com/840070/36436734-6d391c50-1665-11e8-84e3-5f9de2c36fb1.png)

[2018-02-20 16:45] star-buck commented on #32
same ticket as this: #38

[2018-02-20 16:46] star-buck commented on #38
double, closing here

[2018-02-20 16:46] #38 closed, assigned to Elv13

[2018-02-20 17:18] Elv13 commented on #30
Beta 1 is not done yet, this issue will be for nightly links going forward

[2018-02-20 17:19] Elv13 commented on #23
Also not ready, there is more issue than just the "it does nothing on click". The sorting isn't done and the search doesn't support bookmarks yet

[2018-02-20 17:24] Elv13 commented on #39
What's your expected behavior here? The big hash is quite unless and scary for the regular user and the registered username is already displayed in the header.

Currently, it is "randomly" shown dependending on the existence of a vCard. That's obviously a bug/oversight one way or another.

If I had to choose, I think I would always hide it. It provides little value when there is only one. On the o

[2018-02-20 17:30] Elv13 commented on #36
Duplicate of #23, I am not done with this feature. I moved on to the other ones has I perceived them as being an higher priority after a quick bookmark panel prototype. There is still 1-1.5 day of work to complete this feature. For now it's barely showing and updating/saving correctly.

[2018-02-20 17:38] star-buck commented on #39
Lets always show the ring ids there, even if only 1.

[2018-02-20 17:39] star-buck commented on #23
Please add single tickets then, i dont like big tickets with all kinds of
lists and sublists.

[2018-02-20 17:41] star-buck commented on #23
sorting and search arent necessary right now, there are other more important bugs and real issues.

[2018-02-20 17:41] #23 closed, assigned to Elv13

[2018-02-20 17:43] star-buck commented on #36
this is a much bigger issue and more relevant than sorting and search for "favorites".
Please keep this ticket open and we can add anything else that is more a feature like sorting when other stuff is done.

[2018-02-20 17:43] Elv13 commented on #33
Yes, this is still a a wireframe style implementation. The full design has not been implemented yet.

<b>Question:</b> Do you want call (audio) recording to be enabled by default? This allows playback of older conversions like like you can read older texts. With Mozilla deepspeech, it will also allow to recreate the verbatim copy of the conversation.

I will keep this one for last as it deserve a

[2018-02-20 17:46] star-buck commented on #33
no, lets not enable audio recording default.

[2018-02-20 17:47] star-buck commented on #33
also deepspeech is not of our concern for the whole year as i see it, so lets ONLY focus on current ISSUES here and keep everything else out of this ticket system, thanks.

[2018-02-20 17:55] Elv13 commented on #33
No problem, I was just proposing.

I will switch the order to match the other timeline features and enable the
theme for this tab (the same one as used in the peers timeline since it's
already written). It wont add much time to fix the look&feel since all
components are ready, no new development is needed.

Also, the player (when the recording is enabled manually) regressed and is
too few pixels w

[2018-02-20 19:18] star-buck opened #40 "left sidebar: remove "Dialer" and make ring-kde a ring client by name only"
to reduce complexity, lets remove any "general phone center" SIP-stuff like the dialer, but also adress, company, name, organization, etc. as thats all overhead that in a classical whatspapp/skype replacement nobody uses.
This simplifies the client tenfolds and makes it possible to actually finish a 3.0 RC in time.

[2018-02-20 19:35] Elv13 commented on #40
Just the dialpad or the whole panel?

Keep in mind that if the whole panel is removed, it's no longer possible to
manage video between more than 2 person. It's also the place where missed
calls and some errors are listed. It will have to be moved somewhere else
if that's removed.

Taking into account missed calls, ongoing calls, multi-party-calls and
error handling are important elements, I doubt

[2018-02-20 19:58] Elv13 commented on #40
What is your idea to integrate the following feature elsewhere.
Those things have to go *somewhere* if they are no longer there.

Please decide / comment on the following alternatives. Feel free to suggest other possibilities.

### The missed calls

Possible alternatives:

 * Integrate them in the peers timeline
 * Use persistent XDG notifications
 * Improve the history tab of each contact to refl

[2018-02-20 21:42] Elv13 commented on #32
I will need the logs for this one. Please send them by email or remove personal info first. It unsurprisingly works on my side. There is a metric tons of reason why this can happen. There is an equivalent metric tons of ways to fix those individual issues. ICE/STUN/TURN/UPnP/SIPS/x509/TLS based P2P is a very complex set of RFC with a large sets of obscure options and common implementation mistakes

[2018-02-21 01:02] star-buck commented on #40
How about you move the search field for new or existing ring-ids only there to the dialer section?

So "Find someone" is shown and active only in that section and you remove it from the other sections, like bookmarks, contacts and timeline.
That makes this dialer section at least consistent and people aware if they want to search for people or make calls to exisiting people they use the dialer pad

[2018-02-21 02:11] Elv13 commented on #40
Yes, that sound likes something that could works. It already does it, but I could improve the workflow to be more search friendly. I will attack the first part of the issue (disable the organization and useless address tabs by default) and then attack this.

[2018-02-21 02:14] Elv13 opened #41 "Remove the organization and address fields from the default contact template"
Fix #40

I will fix the (+) button that allows to add fields as specified by IEFT RFC6350. I will also fix the issue where adding a phone number of not always saved correctly

[2018-02-21 06:10] Elv13 commented on #30
Apparently google drive keeps the same link, but this is todays nightly https://drive.google.com/open?id=1XlDiZ3Pa588tigP410I30sKe-EYpJ6eq

I will try to find a better hosting. GitHub don't allow nighties unless you pay for extra space.

[2018-02-21 06:12] Elv13 commented on #37
partially done, it no longer gets hidden with the toolbars. I actually never noticed! Someone to see things all day and you stop seeing them...

[2018-02-21 06:12] Elv13 commented on #36
done

[2018-02-21 06:12] Elv13 commented on #34
done

[2018-02-21 06:14] Elv13 commented on #31
whoops, regression from a change late last night. Saving images is fixed.

[2018-02-21 06:22] star-buck commented on #32
Both users (me and ronald) are using ring-kde appimage over wired internet,
and it was working last year fine.
Of course we both see our own small video in the corner.

[2018-02-21 08:00] #40 closed, assigned to Elv13

[2018-02-21 08:02] star-buck opened #42 "move "Find someone" search field to Dialer section only"
- Remove "Find someone" search field from all other sections (bookmarks, contacts and timeline).
- Add "Find someone" to the dialer section.

That makes the dialer section consistent and people aware if they want to search for people or make calls to exisiting people they use the dialer pad or the "find someone" search field above in that section.

[2018-02-21 09:30] star-buck commented on #37
works okay

[2018-02-21 09:30] star-buck commented on #36
works

[2018-02-21 09:30] #36 closed, assigned to Elv13

[2018-02-21 09:31] star-buck commented on #34
i still cant save it, it stays empty

[2018-02-21 09:32] star-buck commented on #31
it doesnt seem to work here...

[2018-02-21 09:41] star-buck opened #43 "sliding-sidebar: remove "New contact" entry"
![screenshot_20180221_104047](https://user-images.githubusercontent.com/840070/36473068-c336e1b2-16f3-11e8-925f-803cbc437e0c.png)

[2018-02-21 09:43] star-buck opened #44 "Tabs under Contact: change order to: Chat/Timeline - Audio/Video - Calls/Recordings - Information"
change order of these tabs to:
Chat/Timeline - Audio/Video - Calls/Recordings - Information
![screenshot_20180221_103641](https://user-images.githubusercontent.com/840070/36473141-fa651a50-16f3-11e8-925b-d084d09d00f9.png)

[2018-02-21 11:28] star-buck commented on #32
ring gnome works perfectly fine both ways on the same machine, so it can only be ring-kde appimage at fault:
![screenshot_20180221_122723](https://user-images.githubusercontent.com/840070/36477761-acb88422-1702-11e8-8ccd-904fa9b29a7e.png)

[2018-02-21 11:29] star-buck commented on #37
lets move own video window to right side as in gnome-ring:
![screenshot_20180221_122723](https://user-images.githubusercontent.com/840070/36477791-c9bcdd34-1702-11e8-8d30-02c49b94b230.png)

[2018-02-23 07:49] star-buck commented on #30
@Elv13 : any update on the nightlies?

[2018-02-23 17:55] Elv13 commented on #30
![](https://imgs.xkcd.com/comics/tasks.png)

**tl;rd: I need some time to make deep changes to deemphasizing SIP and improve WhatsApp like workflow. I was hoping I could avoid them, but as the issue you reported show, they have to be done.**

## Historical background

For the last 75 years, this has been done exectly the same way. Everybody,
including Apple/Google/Skype have the same separation of

[2018-03-02 07:40] Elv13 commented on #44
done

[2018-03-02 07:40] Elv13 commented on #43
done

[2018-03-02 07:40] Elv13 commented on #41
done

[2018-03-02 07:42] Elv13 commented on #39
"done" (I think)

hopefully always there, maybe there is still a couple corner case. In any case, the new under the hood changes took care of 90% of the case where it used to be broken.

[2018-03-02 07:42] Elv13 commented on #37
done

[2018-03-02 07:47] Elv13 commented on #31
It works when you select a rectangle by clicking on the picture once it's selected. However I agree this is unexpected and has to be done automatically when not done manually. The RFC enforces that images have to be squares (meh, 90's idea, whatever).

[2018-03-03 09:22] star-buck commented on #43
please mark done tickets with the green label, thanks.

[2018-03-03 09:22] star-buck commented on #44
please mark done tickets with the green label, thanks.

[2018-03-03 09:22] star-buck commented on #41
please mark done tickets with the green label, thanks.

[2018-03-03 09:22] star-buck commented on #37
please mark done tickets with the green label, thanks.

[2018-03-03 09:23] star-buck commented on #30
any nightly to test?
nightlies or at least WEEKLIES should be done regardless if all things work or not.

[2018-03-03 09:27] Elv13 commented on #32
update on this one:

 * It worked until ~1 month ago, it sitll works /sometime/
 * Nothing changed in Ring-KDE side
 * It still works in the client/server mode
 * Reverting to the older ring-kde commits changes nothing
 * Reverting to the older daemon changes nothing
 * Reverting all new version of all dependencies one by one until it works again (**ongoing**)

[2018-03-03 09:33] Elv13 commented on #30
Yes, only 1 day was skipped due to some network issue. The current one was uploaded a couple hours ago. It has a nasty issue where sometime the timeline does not show up when the application is loaded and you have to click on another contact to fix it. Beside that it works. Only missing from the open issues are the search changes and history changes. Both are in branches and not ready for testing.

[2018-03-06 09:26] Elv13 commented on #42
I merged all "search fields" into one and moved it to the dialer tab. However I a/b tested this at my local hackerspace and none figured they had to look there. I ended up making it "permanent" instead of per "dock/panel". My limited user testing hints that it is what they expect from such apps. This is also definitly what the competition does. I think this address the "spirit" of this issue in th

[2018-04-07 08:02] #30 closed, assigned to nobody

[2018-04-07 08:04] star-buck opened #45 "make releases with DATETIME stamp built into the filename"
Please adjust building releases with an actual DATETIME stamp in the release filename.

[2018-04-07 08:55] star-buck commented on #34
still, this doesnt work?
I and also any user doesnt care in todays times that the picture must be any number of given pixels or squared, it is 100% assumed the program does make it so regardless what the user selects as picture from file or camera.
This doesnt work in ring, so it your responsibility to make this work, either by shrinking the file and OF COURSE skewing it thereby to fit square if t

[2018-04-07 09:00] star-buck commented on #34
okay, seems it DOES work... not sure why it didnt save or rejected the pictur in the first place... now it does seem a picture added stays in the avatar profile picture display.
Will investigate further if the former is reproducible, otheriwse close this ticket.

[2018-04-07 09:25] #42 closed, assigned to Elv13

[2018-04-07 09:25] #37 closed, assigned to Elv13

[2018-04-07 09:25] #31 closed, assigned to Elv13

[2018-04-07 09:26] #43 closed, assigned to Elv13

[2018-04-07 09:26] #41 closed, assigned to nobody

[2018-04-07 09:28] star-buck opened #46 "Chat: switch sides: other person on the left side <-> you on the right side"
currently it is you on the left side and other person on the right side, so please switch:
![screenshot_20180306_042636](https://user-images.githubusercontent.com/340384/37024312-73844e4a-20f6-11e8-9986-faf0b9f46366.png)

[2018-04-07 09:30] star-buck commented on #44
i dont see any of these tabs anymore on ring-kde?

[2018-04-07 09:33] star-buck commented on #39
it is still completely broken.
It changes randomly, splits users into "unkwnown" and real ring-kde ident-name, sometimes with or without the number, so this results in up to 3 contact entries for the same user... where then the chat is split on one contact-entry, the call info on another, etc...
This is creating a chaotic experience with ring-kde, so it needs to be solved the most urgent.

[2018-04-07 09:33] #34 closed, assigned to Elv13

[2018-04-07 09:33] #32 closed, assigned to Elv13

[2018-04-07 09:35] #33 closed, assigned to Elv13

[2018-04-07 14:51] star-buck opened #47 "ring-kde account: initialize and make account name consistent through ring-kde"
1. Wizard: do not prefill by proposing a username from the local os name, keep field empty
2. set "Formatted" name field to the same name as chosen, instead of "Default"

Reasons:
For 1), any name the user chooses does still create an entry for the suggested name that is looked up, which is confusing and misleading. To prevent, keep the field in the wizard empty.
See image, where the proposed name

[2018-04-07 15:00] star-buck opened #48 "cannot find and initiate first call to another registered ring user, only receive calls"
- when i try to find starbuck1, it does add it to the timeline, but calling doesnt work
- when i try to find testest7 from android starbuck1 user, it does work and i can call, then another entry gets added called starbuck1, which i then call also call from ring-kde
see image:
the upper starbuck1 is the one that sucessfully found testest7 and called from android-ring.
the lower starbuck1 entry is f

[2018-04-07 15:11] star-buck commented on #48
when quitting and restaring ring-kde, the former starbuck1 ring-id account now is "Unkown" and a Warning message is displayed next to the ring_id_number:
![screenshot_20180407_171103](https://user-images.githubusercontent.com/840070/38456613-ab6abd54-3a86-11e8-9e21-f133abed5202.png)

[2018-04-08 11:42] star-buck opened #49 "account in sidebar: sometimes missing, but appears immediately when clicked on Drawer-Button"
not visible:
![screenshot_20180408_134019](https://user-images.githubusercontent.com/840070/38467012-99864e94-3b32-11e8-896b-a2f0f01b3d26.png)

instantly appears when clicking the drawer-button:
![screenshot_20180408_134051](https://user-images.githubusercontent.com/840070/38467019-aa809204-3b32-11e8-8b90-284a32dc49c9.png)

[2018-04-10 12:36] Elv13 commented on #44
My bad. There is a bug in the Qt Fusion theme. I usually just patched Qt but recently upgraded and didn't notice the patch did not apply. It will be fixed in the next nightly (well, it is already fixed but I havn't finished the new nightly hosting server yet)

[2018-04-10 12:55] Elv13 commented on #39
Don't worry, I have been hard at work on these for a month. In retrospective it was probably madness and I should have whack-a-moled all the instances of these bugs instead of fixing the legacy design decisions that cause them. However the (very boring and invisible) work I am currently finishing could not have been delayed much further as upstream changes would have forced them anyway. The bad ne

[2018-04-11 05:47] Elv13 commented on #45
So, back to square one on my own server http://lvindustries.net:8080/, hopefully I wont have NAT problems again. I will add a debug build too at some point. It's less convenient than the google drive script. There is `ring-kde-000-latest.appimage` if you wish to add a cron job to update the appimage.

Would you prefer an APT repository that keeps the appimage updated?

[2018-04-11 08:01] star-buck commented on #45
Please add a timestamp in the filename.
No APT needed.

[2018-04-12 06:44] Elv13 commented on #45
done

[2018-04-16 11:09] star-buck commented on #46
works.

[2018-04-16 11:09] #46 closed, assigned to Elv13

[2018-04-16 11:09] #44 closed, assigned to Elv13

[2018-04-16 11:10] star-buck commented on #26
works fine!

[2018-04-16 11:10] #26 closed, assigned to Elv13

[2018-04-16 11:10] #45 closed, assigned to Elv13

[2018-04-16 11:12] star-buck opened #50 "systray icon: needs right-click options like "close""

[2018-04-19 07:56] Elv13 commented on #50
I added `close`, but what else do you want there? As far as I can tell, the systray menu was already implemented. Is this bug about adding more option or is it about the menu not working on your computer? If it doesn't work, what's the Plasma version? It works on my laptop and on live-cds, including Unity.

[2018-04-19 09:23] star-buck commented on #50
It doesnt work on any plasma version here. What plasma version/distro
version DOES it work on your end?

[2018-04-20 07:38] Elv13 commented on #50
Ok, apparently it's a bug in KF5 when the compiler link-time-optimization are enabled. Here's a screenshot of both appimage (one in debug without LTO and one in release with LTO). The red line in the IPC between plasma and kf5 means the function never returned

![screenshot_20180420_033051](https://user-images.githubusercontent.com/340384/39036457-87efcfc6-444b-11e8-9ec1-867e0fc3c3c9.png)
![screen

[2018-04-20 07:45] Elv13 commented on #48
I fixed a bunch of mini issue since Friday of last week to make this more robust but after testing there is still a couple. The good news is that it's a false positive where it could work, but Ring-KDE thinks it wont. The bad news is that it hides the call button because it anticipates a failure. That particular one is, but the "Unknown" one is only partially fixed. It involves merging and synchro

[2018-04-26 08:32] Elv13 commented on #48
Update on this. While the specific issue you experienced was most likely fixed last week, I spent a couple days trying to fix as many live media issues as I could find and done heavy testing. It's in a branch right now, so it's a bit pointless to push today's nightly. Here the list of case that were previously not handled as well as they could but are now correctly diagnosed and reflected in the U

[2018-06-12 18:23] #50 closed, assigned to Elv13

[2018-06-12 18:23] #49 closed, assigned to Elv13

[2018-06-12 18:27] star-buck opened #51 "option to close / dont show again the first time "search for participant" overlay, even if no one has been added"
![screenshot_20180612_112553](https://user-images.githubusercontent.com/840070/41309384-88421ea4-6e33-11e8-84ab-bbda469f4e89.png)

[2018-06-13 06:05] Elv13 commented on #51
the feature itself is ready for testing, the following side effects are being addressed

    * Make sure the normal UX behave correctly when there is no selected individual
    * Disable everything that cannot be clicked to avoid confusion
    * Add a new user facing message when there is nothing selected
    * Do not show the contact and bookmark sorting widget when empty
    * Do not allow the c